[web]
web-amazon ansible_host=<WEB-amazon_PRIVATE_IP> ansible_user=ec2-user 
web-ubuntu ansible_host=<WEB-ubuntu_PRIVATE_IP> ansible_user=ubuntu

[application]
app-ubuntu ansible_host=<APP-ubuntu_PRIVATE_IP> ansible_user=ubuntu 

[all:vars]

ansible_ssh_private_key_file=~/.ssh/id_ed25519