[web]
web01 ansible_host=<WEB01_PRIVATE_IP>
web02 ansible_host=<WEB02_PRIVATE_IP>

[application]
app01 ansible_host=<APP01_PRIVATE_IP>

[all:vars]
ansible_user=ubuntu
ansible_ssh_private_key_file=~/.ssh/id_ed25519